
*body{
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}





.logo{
    border-radius: 100%;
    
    width: 110px;
margin-left:21px ;
}
.brand-name{


    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 1px 5px 25px;
}



.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
 



.brand-name{
    width: 50%;
}


.gallery{

    margin: 60px 80px;
}
.gallery img{

    padding: 15px;
    width: 350px;
    transition: 1s;
    height: 250px;
    border-radius: 20px;

}

.gallery img:hover{

    transform: scale(1.1);
}
.gallery a{

    width: 500px;
}
.btn{
    justify-content: center;
    width: 120px;
    
    
    
}

.event img{
    width: 100%;
height: 100%;
}

#nav{
    font-style: italic;
    font-weight: bold;
}

#nav :hover{

    border-radius: 20px;
    color: #0088a9;
        font-weight: 90px;
        transition: all 0.3s ease 0s;
        font-weight: bold;
}

